In [1]:
import pandas as pd

In [7]:
spot_df = pd.read_csv("./ArchivosRendimientos/Benchmarks/Historico_SPOT.csv")
spot_df.rename(columns={"FECHA":"Fecha", "PRECIO SUCIO":"Spot"}, inplace=True)
spot_df = spot_df[["Fecha", "Spot"]]
spot_df["Fecha"] = pd.to_datetime(spot_df["Fecha"])
spot_df

         Fecha     Spot
0   2024-01-02  17.0440
1   2024-01-03  17.0364
2   2024-01-04  17.0348
3   2024-01-05  16.8832
4   2024-01-08  16.8100
..         ...      ...
299 2025-03-06  20.2657
300 2025-03-07  20.2672
301 2025-03-10  20.3623
302 2025-03-11  20.2582
303 2025-03-12  20.1797

[304 rows x 2 columns]

In [19]:
precios_bmks_isimp_df = pd.read_excel("./ArchivosPeergroups/Benchmarks/Historico_ISIMP.xlsx", skiprows=2, skipfooter=4)
precios_bmks_isimp_df["Fecha"] = pd.to_datetime(precios_bmks_isimp_df["Fecha"], format="%d/%m/%Y")
precios_bmks_isimp_df.rename(columns={"Índice":"ISIMP"}, inplace=True)
precios_bmks_isimp_df = precios_bmks_isimp_df[["Fecha", "ISIMP"]]
precios_bmks_isimp_df

         Fecha       ISIMP
0   2024-01-02  260.585246
1   2024-01-03  260.588146
2   2024-01-04  260.656244
3   2024-01-05  260.673049
4   2024-01-08  260.905944
..         ...         ...
295 2025-03-06  291.410948
296 2025-03-07  291.468154
297 2025-03-10  291.634970
298 2025-03-11  291.702763
299 2025-03-12  291.773025

[300 rows x 2 columns]

In [24]:
precios_bmks_acwi_df = pd.read_csv("./ArchivosPeergroups/Benchmarks/Historico_ACWI.csv")
precios_bmks_acwi_df.rename(columns={"FECHA":"Fecha", "PRECIO SUCIO":"ACWI"}, inplace=True)
precios_bmks_acwi_df["Fecha"] = pd.to_datetime(precios_bmks_acwi_df["Fecha"], format="%Y-%m-%d")
precios_bmks_acwi_df = precios_bmks_acwi_df[["Fecha", "ACWI"]]
precios_bmks_acwi_df

         Fecha         ACWI
0   2024-01-02  1719.739600
1   2024-01-03  1705.343640
2   2024-01-04  1703.309652
3   2024-01-05  1689.670656
4   2024-01-08  1702.516800
..         ...          ...
299 2025-03-06  2405.538590
300 2025-03-07  2421.930400
301 2025-03-10  2370.375343
302 2025-03-11  2345.899560
303 2025-03-12  2350.733253

[304 rows x 2 columns]