In [1]:
import pandas as pd

In [7]:
spot_df = pd.read_csv("./ArchivosRendimientos/Benchmarks/Historico_SPOT.csv")
spot_df.rename(columns={"FECHA":"Fecha", "PRECIO SUCIO":"Spot"}, inplace=True)
spot_df = spot_df[["Fecha", "Spot"]]
spot_df["Fecha"] = pd.to_datetime(spot_df["Fecha"])
spot_df

         Fecha     Spot
0   2024-01-02  17.0440
1   2024-01-03  17.0364
2   2024-01-04  17.0348
3   2024-01-05  16.8832
4   2024-01-08  16.8100
..         ...      ...
299 2025-03-06  20.2657
300 2025-03-07  20.2672
301 2025-03-10  20.3623
302 2025-03-11  20.2582
303 2025-03-12  20.1797

[304 rows x 2 columns]